{% extends 'home_page.html' %}


 {% block  allmenu %}

      <div class="menu">
            <div class="grid">
                                    {%for coffee in coffees%}
                                     <div class="item"><img src="{{coffee.coffee_photo.url}}" width="150px" height="90px" >
                                            {{coffee.coffee_name}}
                                        </div>

                                    {% endfor %}


            </div>
                   <div class="si1">
                        <ul class="flex-container flex-start">
                            {% for a in cof_id %}
                            <li class="flex-item"><a href="{{a}}" class="list"> {{a}} </a></li>
                            {% endfor%}

                        </ul>
                   </div>

      </div>

 {% endblock %}
