{% extends 'home_page.html' %}


 {% block  allmenu %}

      <div class="menu">
            <div class="grid">
                                    {%for drink in drinks%}
                                     <div class="item"><img src="{{drink.drink_photo.url}}" width="150px" height="90px" >
                                            {{drink.drink_name}}
                                        </div>

                                    {% endfor %}


            </div>
                   <div class="si1">
                        <ul class="flex-container flex-start">
                            {% for b in drink_id %}
                            <li class="flex-item"><a href="{{b}}" class="list"> {{b}} </a></li>
                            {% endfor%}

                        </ul>
                   </div>

      </div>

 {% endblock %}