{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%  static  'css/main.css'  %}">
    <title>Basic Bar</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">Basic Bar</div>

            <nav class="nav">

                <a class="nav__link" href="/home">Home</a>
                <a class="nav__link" href="/reservation">Reservation</a>
                <a class="nav__link" href="#">Login</a>
                <a class="nav__link" href="#">Registration</a>
            </nav>


        </div>


    </div>

</header>


<div class="intro">
    <div class="container">
        <div class="intro__inner"></div>
        <h1 class="intro__title">Welcome to Basic Bar</h1>

    </div>
</div>

{% for reservation in reservations %}
    <h1>{{ reservation.customer }}</h1>
    <p>table number {{ reservation.table_number }} on {{ reservation.date_reserved}}</p>

{% endfor %}

</body>
</html>