{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Detail</title>
    <script src="https://kit.fontawesome.com/692189991f.js" crossorigin="anonymous"></script>

    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{%  static  'css/main.css'  %}">
</head>

<body>

    <!-- Main Content -->
    <div class="content">

        <!-- Table Image -->
        <div class="image">
            <img
                src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">

        </div>

        <!-- Table Details -->
        <div class="table">

            <!-- Div 1: Back to Home -->
            <div class="home">
                <a href="{% url 'TableList' %}"><i class="fas fa-arrow-alt-circle-left">Home</i></a>
            </div>

            <!-- Div 2: Table Information -->
            <div class="table-info">
                <h1>{{table_category}}</h1>
                <p> Welcome to the Wake Up Cafe.
                    Reserve your table here and
                    enjoy your time in our cafe. </p>
            </div>

            <!-- Div 3: Table Reservation Form -->
            <form id="reservation-form" action="" method="POST">

                {% csrf_token %}

                <!-- Input Div -->
                <div class="input-div">
                    <label for="id_start_time">Start Time : </label>
                    <input type="datetime-local" id="id_start_time" name="start_time">
                </div>

                <!-- Input Div -->
                <div class="input-div">
                    <label for="id_end_time">End Time : </label>
                    <input type="datetime-local" id="id_end_time" name="end_time">
                </div>

                <!-- Input Div -->
                <div class="input-div">
                    <button type="submit">Reserve the Table</button>
                </div>

            </form>

        </div> <!-- END Room Div -->

    </div> <!-- END Main Content Div -->

</body>

</html>