{% extends 'all_upper.html' %}
{% load crispy_forms_tags %}

    {% block title %}
         Login
    {% endblock %}

{% block upper %} abc {% endblock %}
{% block login %}  {% endblock %}

{% block all %}

    <body >
    <div class="loginbox">
        <div  class="avatar"></div>
        <h1 class="logdiz">Login Here</h1>
        <form>
            {% csrf_token %}
             <input type="hidden" name="next" value="{{ next }}">

            {{ form|crispy }}
            <input  type="submit" name="" value="Login">

        </form>
    </div>
    </body>

{% endblock %}