{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href = "{% static 'init.css' %}" type = "text/css">
        <link rel="stylesheet" href = "{% static 'login.css' %}" type = "text/css">
         <link rel="stylesheet" href = "{% static 'tab.css' %}" type = "text/css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>

    <header class="header" id="one">
        <div class="container">
            <div class="header__inner">
                <div >	<a class="header_logo" href="/"><b class="shadow">Wake Up Cafe</b></a> </div>

                <nav class="nav">

                    <ul>
                        <form class="nav__link">
                            <input class="clor" type="text" name="search" plachplder="search">
                            <button class="clor">
                                <a class="nav_lnk">Search</a>
                            </button>
                        </form>
                        {% block services %}<li class="nav__link" href="#"><a class="nav__lnk" href="/service"><b class="shadow">Service</b></a>
                            <ul >
                                {% block viptables %}<li class="nav_lnk"><a class="nav_lnk"  href="/viptables"><b class="shadow">VIP Tables</b></a>
                                    <ul>
                                        <li class="nav_lnk" href="#"><a><b class="shadow">Tables with 6 transliteration places</b></a></li>
                                        <li class="nav_lnk" href="#"><a><b class="shadow">Tables with 5 transliteration places</b></a></li>
                                        <li class="nav_lnk" href="#"><a><b class="shadow">Tables with 4 transliteration places</b></a></li>
                                        <li class="nav_lnk" href="#"><a><b class="shadow">Tables with 3 transliteration places</b></a></li>
                                        <li class="nav_lnk" href="#"><a><b class="shadow">Tables with 2 transliteration places</b></a></li>

                                    </ul>
                                </li>{% endblock %}
                               {% block tables %} <li class="nav_lnk" ><a class="nav_lnk" href="/tables"><b class="shadow">Tables</b></a>
                                    <ul>
                                        <li class="nav_lnk" href="#"><a><b class="shadow">Tables with 6 transliteration places</b> </a></li>
                                        <li class="nav_lnk" href="#"><a><b class="shadow">Tables with 5 transliteration places </b></a></li>
                                        <li class="nav_lnk" href="#"><a><b class="shadow">Tables with 4 transliteration places</b> </a></li>
                                        <li class="nav_lnk" href="#"><a><b class="shadow">Tables with 3 transliteration places</b> </a></li>
                                        <li class="nav_lnk" href="#"><a><b class="shadow">Tables with 2 transliteration places</b> </a></li>

                                    </ul>
                                </li> {% endblock %}
                            </ul>
                        </li>{% endblock %}
                        <li class="nav__link" ><a class="nav__lnk" href="#"><b class="shadow">About</b></a></li>
                        <li class="nav__link" ><a class="nav__lnk" href="/reservation"><b class="shadow">Reserve</b></a></li>
                        <li class="nav__link" ><a class="nav__lnk" href="/blog"><b class="shadow">Blog</b></a></li>
                        {% block  login %} <li class="nav__link" ><a class="nav__lnk" href="{% url 'login' %}"><div  class="friends" ><div class="f"></div></div></a></li>{% endblock %}
                    </ul>
                </nav>
            </div>

        </div>
        {% block  all %}
        {% endblock %}

    </header>

        <div  class= {% block upper %} {% endblock %}>
            <div class="invisible" >


            </div>
        </div>
    {% block  allmenu %}
        {% endblock %}
    </body>
    {% block  logbox %}
        {% endblock %}
</html>