 {% extends 'all_upper.html' %}

 {% block title %}
    Wake Up Cafe
 {% endblock %}

 {% block  all %}

    <ul class="tab">
            <div class="center1"><a class="text_1" href="services/1"><li class="tab1"> Coffee </li></a></div>
            <div class="center1"><a class="text_1" href="services/1"><li class="tab1"> Drink </li></a></div>
            <div class="center1"><a class="text_1" href="services/1"><li class="tab1"> Dessert </li></a></div>
            <div class="center1"><a class="text_1" href="services/1"><li class="tab1"> Food </li></a></div>
        </ul>
 {% endblock %}

{% block upper %}
    "intro"
{% endblock %}