 {% extends 'all_upper.html' %}
<!DOCTYPE html>
{% load crispy_forms_tags %}


{% block login %}  {% endblock %}
{% block  reg %} {% endblock %}
{% block services %}{% endblock %}
        {% block title %}
            Profile
        {% endblock %}

{% block logbox %}
<html  lang="en">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="m-3 p-3">

</div>
<div class="col-md--2">
    <h3><a href="{% url 'logout' %}">Logout</a></h3>
    <h4> <a href="{% url 'index' %}">Home</a> </h4>
</div>

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-5" style="background-color:#FF9933;">
                <div class="profile-img">
                    <img src="{{user.profile.photo.url}}"
                         width="40%" align="center" border="10" hspace="10%" vspace="10%" alt="Profile image"/>
                </div>
            </div>
            <div class="col-md-6" style="background-color:#FF9933;">
                <div class="profile-head">
                    <h3>
                        {% if user.is_authenticated %}
                            <p>Hi {{ user.username }}!</p>
                        {% else %}
                            <p>You are not logged in.</p>
                            <a href="{% url 'login' %}">Log In</a>
                        {% endif %}
                    </h3>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <h5> <a class="nav-link active" id="home-tab" data-toggle="tab" href="/accounts/profile"
                            role="tab" aria-controls="home" aria-selected="true">Profile Info</a> </h5>
                </li>
                <li class="nav-item">
                    <h5> <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit"
                       role="tab" aria-controls="profile" aria-selected="false">Edit Profile</a> </h5>
                </li>
            </ul>
                </div>

            </div>
        </div>
        </form>
                <div class="row">
                    <div class="col-md-4" style="background-color:#FF9933;">
                        <div class="profile-work">
                            <p>            </p><br/>
                            <p>            </p>
                            <a href=""></a><br/>
                            <a href=""></a><br/>
                            <a href=""></a>

                        </div>
                    </div>

                    <div class="col-md-7" style="background-color:#FF9933;">
                    <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" >
                                        <h4>
                                        <div class="row">
                                            <div class="col-md-6" >
                                                <p class="font-weight-bold">
                                                <label>First Name:</label></p>
                                            </div>
                                            <div class="col-md-6" >
                                                <p class="font-weight-bold"> {{user.first_name}}</p>
                                            </div>
                                        </div>
                                        </h4>
                                        <h4>
                                        <div class="row">
                                            <div class="col-md-6" >
                                                <p class="font-weight-bold">
                                                <label>Last Name:</label></p>
                                            </div>
                                            <div class="col-md-6" >
                                                <p class="font-weight-bold"> {{user.last_name}}</p>
                                            </div>
                                        </div>
                                        </h4>
                                        <h4>
                                        <div class="row">
                                            <div class="col-md-6" >
                                                <p class="font-weight-bold">
                                                <label>Email:</label></p>
                                            </div>
                                            <div class="col-md-6" >
                                                <p class="font-weight-bold"> {{user.email}}</p>
                                            </div>
                                        </div>
                                        </h4>
                                        <h4>
                                        <div class="row">
                                            <div class="col-md-6" >
                                                <p class="font-weight-bold">
                                                    <label>Date of birth:</label></p>
                                            </div>
                                            <div class="col-md-6" >
                                                <p class="font-weight-bold"> {{user.profile.date_of_birth}}</p>
                                            </div>
                                        </div>
                                         </h4>
                                </div>
                            </div>
                        </div>

        <div class="col-md-11" style="background-color:#FF9933;">
            <div class="tab-pane" id="edit">
                <div class="col-md-4" style="background-color:#FF9933;">
                    <h4 class="m-y-5">Edit Profile</h4>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"></legend>
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}
                    </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </div>
                    </form>
                </div>
                </div>
             </div>
        </div>
</div>
</html>
{% endblock %}