
{% extends  'all_upper.html' %}
{% load crispy_forms_tags %}

{% block title %} Registr {% endblock %}

{% block  reg %}
{% endblock %}

{% block upper %} regback {% endblock %}
{% block services %}{% endblock %}


{% block all %}
    <div >
        <div class="regbox">
            <h4 class="logdiz">Sign in to your account</h4>

            <form >
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {{ form|crispy }}

              <center>  <button type="submit" class="regsub">Sign in</button> </center>
            </form>
        </div>
    </div>
{% endblock %}

