body {
    margin: 0;
    font-family: Montserrat, sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
    position:relative;
    z-index:-1;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.intro {
    width: 100%;
    height: 120vh;

    background: url("bar.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}
.invisible{
    height: 9vh;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color:rgba(192,192,192,0.8);
}
#one{
    position: fixed;

}


.header{

    width: 100%;

    top: 0;
    left: 0;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    font-size: 35px;
    font-weight: 700;
    color: #FFA200;
}

.nav{
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
}
.nav ul,
ol{
    list-style: none;
}
.nav > ul li a{
    display: block;
}

.nav__link{
    vertical-align: top;
    display: inline-block;
    margin: 0 15px;

    color: #FFA200;
    text-decoration: none;

    transition: color .3s linear;
}

.nav__link:hover{
    color: #fce38a;
}

.ul {
    top: 100px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.var_nav{
    position: absolute;
    background: #000000;
    width: 200px;
    height: 40px;
    margin-bottom: 1px;

}
.var_nav{
    color: #FFA200;
    text-decoration: none;

    transition: color .3s linear;
}
/*dizine*/
.nav_lnk{

    margin: 0;
    padding: 0;
    list-style-type: none;
    vertical-align: top;
    background-color:rgba(192,192,192,0.3);



    color: #FFA200;
    text-decoration: none;

    transition: color .3s linear;
}


.nav_lnk:hover{
    color: #19A92D;
}
.nav__lnk{

    margin: 0;
    padding: 0;
    list-style-type: none;
    vertical-align: top;

    color: #FFA200;
    text-decoration: none;

    transition: color .3s linear;
}
.nav__lnk:hover{
    color: #19A92D;
}
/*sub menu*/
.nav ul > li  ul {
    position: absolute;
    right: 550px;
    top: 40px;
}
.nav li ul {
    position: absolute;
    min-width: 100px;
    display: none;
}
.nav li > ul li {
    border: 1px solid #c7c8ca;
}
.nav li > ul li a{
    padding: 10px;
    text-transform: none;
}
.nav li > ul li ul {
    position: absolute;
    right: -315px;
    top: 30px;
}
.nav li:hover > ul{
    display: block;
}

/* vip tables */
.introservis {
    width: 100%;
    height: 120vh;

    background: url("vip.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.introvip {
    width: 100%;
    height: 120vh;

    background: url("vipas.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.introtables {
    width: 100%;
    height: 120vh;

    background: url("tables.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
